.container{
  display: flex;
  align-items: flex-start;
  margin: 20px 20px;
}

.container:nth-of-type(even){
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin: 20px 20px;
}

.article_img{
  width: 60vw;
}

.article_text{
  padding: 10px 20px;
  line-height: 1.5;
  font-size: x-large;
}

.heading{
  font-size: large;
  padding: 0px 10px;
  margin: 10px 0px;
}

.links{
  color: blue;
}

.links:visited {
  color: purple;
}