@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
   
}




 li, a {
  font-family: "Lora", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: large;
}

header {
    display: flex;
    height:2cm;
    justify-content: space-between;
    align-items: center;
    padding:0px 5%;
    background-color: #24252a;
  }

  .logo img {
    cursor: pointer;
    padding:7px;
    height:15%;
    width:15%;
  }


  .nav{
    display: flex;
    list-style: none;
   
  }
  
  .nav li {
  
    padding: 0px 20px;
  }
  
  .nav li a {
    transition: all 0.3s ease 0s;
  }


  .nav li a :hover{
    color:aqua;
  }

