@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(135deg, rgba(227, 151, 141,0.4), rgba(224, 217, 154,0.8));
}

.heading{
  font-size: x-large;
}
.mymenu{
  position: fixed;
  width: 100%;
  z-index: 1;
}

 .navi_link {
  font-family: "Lora", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
  font-size: large;
}

header{
  display: flex;
  height:2cm;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
}

.logo{
  display:flex;
  cursor: pointer;
  padding:7px;
  justify-content: flex-start;
  max-height: 100%;
}

.logo img{
  max-width: 30%;
}

.navi{
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
  
.navi li{
  padding: 0px 20px;
}
  
.navi li a{
  transition: all 0.3s ease 0s;
}

.navi_link:hover{
  color:aqua;
}