section {
    position: relative;
    top: 2cm;
}

heading{
    text-align: center;
    margin: 1cm;
}

.article_container:nth-of-type(odd) .article_item {
    display: flex;
    align-items: flex-start;
    padding: 20px 20px;
}

.article_container:nth-of-type(even) .article_item {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    padding: 20px 20px;
}

.article_text{
    font-size: medium;
    line-height: 1.5;
}

.article_item img{
    max-width: 50%;
}

.article_item > *{
    margin: 10px;
}